@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
    display: none; /* Verbergt de scrollbar in Chrome, Safari en Edge */
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;  /* Verbergt de scrollbar in Internet Explorer en Edge */
    scrollbar-width: none;     /* Verbergt de scrollbar in Firefox */
  }